

 table{
   width: 800px;
   height: 600px;
}
#title{
   border-bottom: 1px solid black;
   font-size: larger;
}
.body-color{
   background-color: lightcoral;
}
td{
   border: 1px solid black;
   width: 80px;
   height: 80px;
   text-align: center;
}